# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
gnome alone_the gnominee/[Ll]ibrary/
gnome alone_the gnominee/[Tt]emp/
gnome alone_the gnominee/[Oo]bj/
gnome alone_the gnominee/[Bb]uild/
gnome alone_the gnominee/[Bb]uilds/
gnome alone_the gnominee/[Ll]ogs/
gnome alone_the gnominee/[Uu]ser[Ss]ettings/
gnome alone_the gnominee/[Mm]emoryCaptures/
gnome alone_the gnominee/[Rr]ecordings/
gnome alone_the gnominee/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
gnome alone_the gnominee/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
gnome alone_the gnominee/[Aa]ssets/[Ss]treamingAssets/aa.meta
gnome alone_the gnominee/[Aa]ssets/[Ss]treamingAssets/aa/*